{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Bienvenue{% endblock %}

{% block body %}

<h1>Bienvenue</h1>
<h3>S'incrire en tant que :</h3>

<table type="table">
<tr>
<td><a href="/register_client"><button id="Regionbtn">Client </button></a>
<a href="/register"><button id="Regionbtn">Propriétaire</button></a>
</td>
</tr>


</table>
<h3>Avez vous déja un compte ?</h3>

<a href="/login"><button id="Regionbtn">Se connecter</a></button>

{% endblock %} {# main #}