{% extends 'base.html.twig'%}
{% block body %}
<title>New Comment</title>

    <h1>Créer un nouveau commentaire</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('room_show', {'id': room.id}) }}">Retour</a>
{% endblock %}
