{% extends 'base.html.twig'%}

{% block body %}
<title>New Reservation</title>

    <h1>Faire une réservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('reservation_index') }}">Retour</a>
{% endblock %}
