{% extends 'base.html.twig'%}
{% block body %}

<form method="post" action="{{ path('room_delete', {'id': room.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cette chambre ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
    <button class="btn">Supprimer</button>
</form>
{% endblock %}
