{% extends 'base.html.twig'%}


{% block body %}

<title>New Room</title>

    <h1>Créer une nouvelle chambre</h1>

    {{ include('room/_form.html.twig', {'button_label': "Sauvegarder"}) }}

    <a href="{{ path('room_index') }}">Retour</a>
{% endblock %}
