{% extends 'base.html.twig'%}

{% block body %}
<title>New Client</title>

    <h1>Create new Client</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client_index') }}">back to list</a>
{% endblock %}
