{% extends 'base.html.twig'%}

{% block body %}
<title>New Owner</title>

    <h1>Create new Owner</h1>

    {{ include('owner/_form.html.twig') }}

    <a href="{{ path('owner_index') }}">back to list</a>
{% endblock %}
