{% extends 'base.html.twig'%}
{% block body %}

<title>Editer cette région</title>

    <h1>Editer cette région</h1>

    {{ include('region/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('region_index') }}">Retour</a>

    {{ include('region/_delete_form.html.twig') }}
{% endblock %}
