{% extends 'base.html.twig'%}

{% block body %}

<title>New Region</title>
    <h1>Créer une nouvelle région</h1>

    {{ include('region/_form.html.twig') }}

    <a href="{{ path('region_index') }}">Retour</a>
{% endblock %}
